$orange: #E76C13
$white: #FFFFFF
$blue: #1323E7
$lime: #CBEE4C
$black: #000000
*
  color: $black
  padding: 0
  margin: 0
  box-sizing: border-box
  scroll-behavior: smooth
  font-family: 'Inter', sans-serif
  scroll-margin: 180px


body
  position: relative
  background: linear-gradient(90.00deg, rgb(3, 39, 52) 32.515%,rgb(1, 34, 44) 130.061%)

img
  width: 100%
  height: auto
a
  display: block
  color: inherit
  text-decoration: none
  cursor: pointer
span
  font-weight: inherit
  font-size: inherit
li
  list-style: none
  cursor: pointer

button
  color: inherit
  border: 0
  outline: 0
  background: none
  cursor: pointer

.container
  max-width: 1392px
  width: 100%
  padding: 0px 20px
  margin: 0 auto