/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {

  color: rgb(var(--bs-tertiary-color-rgb));
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}


.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.navbar {
  padding: 0px 40px;
}
.top-link {
  font-size: 18px;
  color: white;
  text-decoration: none !important;
}
.ftr-phn {
  font-size: 60px;
  text-decoration: #CDDBDC underline 3px;
  text-underline-offset: 10px;
}
.foot-icons {
  display: flex;
  gap: 10px;
}
.navbar-nav {
  gap: 5rem;
}
.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 35rem;
}
.footer {
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  border-radius: 7px;
}

.carousel__text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 3;
}
.carousel__text-title{
  text-align: center;

}
.carousel__text p{
  display: flex;
  justify-content: center;
}
/* MARKETING CONTENT
-------------------------------------------------- */
.rght {
  padding-right: 48px;
}
.featurette-heading {
  padding-bottom: 14px;
}
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
  letter-spacing: -.05rem;
}

ul {
  list-style-type: none;
  padding: 0;
}
.boat-container {
  margin-top: 20px;
  background-color: #F1F1F1;
  padding: 40px 40px;
  margin-bottom: 80px;
  
}

.btn:hover {
  background-color: #c4551f !important; /* Цвет при наведении (чуть темнее) */
}

.btn {
  background-color: #E7632B !important;
  transition: background-color 0.3s; /* Плавная анимация изменения цвета */
  border: none;
}

.boat-container-inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.fw-normal {
  margin-bottom: 2px;
  padding-top: 14px;
}
.lst-group ul{
  display: flex;
  gap: 60px;
}

.boat-container .carousel{
  margin-bottom: 0px;
  max-width: 47%;
  min-width: 400px;
  width: 100%
}
.boat-container .boat-info{
  max-width: 47%;
  width: 100%;
  min-width: 400px;
  padding-bottom: 100px
}
.boat-h1{
  margin-top: 0 !important;
  max-width: 60%;
}
.foot-tel {
  padding-top: 35px;

}
.ftr-phn {
  color: #02526D;
}
.footer-h2 {
  font-weight: 300;
  font-size: 90px;
  line-height: 1.1;
  padding-bottom: 100px;
  padding-top: 100px;
  padding-left: 60px;
}

.tel-wrap {
  display: block;
}
.telephone {
  padding-top: 108px;
}
.lead {
  max-width: 80%;
  line-height: 1.5rem;
  font-size: 18px !important;
  margin-bottom: 24px;
}
.content {
  padding: 7rem 0;
}
.btn, .form-control {
  height: 55px;
}
.form-control {
  border-radius: 0;
}
.boat-block {
  width: 100%;
}
.form-group {
  margin-bottom: 1rem;
}
.call {
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 3vw;
}
.reviews-h2 {
  text-align: center;
  margin-bottom: 20px;
}
.maks {
  max-width: 23ch !important;
}
.reviews-container {
  margin-bottom: 150px;
}
.second {
  height:auto;
}
.two  {
  display: inline-block;
}
.lft {
  padding-left: 90px;
}
.mdl {
  padding-left: 36px;
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 16 16'%3e%3cpath d='M6 3.5l-1.5 1.5 4 4-4 4 1.5 1.5 5.5-5.5z'/%3e%3c/svg%3e"); /* Черная иконка для левой кнопки */
}
.rw-ar {
  width: 7% !important;
} 
.img-rvws {
  transform: translateY(10px);
  margin-right: 12px;
}
.name {
  text-align: left;
  padding-left: 10px;
}
.rvws {
  display: flex;
  justify-content: center;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 16 16'%3e%3cpath d='M10 3.5l1.5 1.5-4 4 4 4-1.5 1.5-5.5-5.5z'/%3e%3c/svg%3e"); /* Черная иконка для правой кнопки */
}

.footer-container{
  display: flex;
  align-items: center;
  /* flex-direction: column; */
}
.footer-container-info{
  background-image: url('1662402716_1-celes-club-p-volga-reka-saratov-krasivo-2-2.webp');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  max-width: 60%;
  width: 100%;
  color: #fff;
}
.footer-container-filter{
  padding-top: 220px;
  padding-bottom: 340px;
  display: flex;
  padding-left: 7vw;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
}
.footer-container-filter h2 {
  font-size: 50px;
}
.footer-container-form{
  background: #fff;
  transform: translateX(-50px);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 40px;
  border-radius: 7px;

}
.footer-container-form h2 {
  max-width: 60%;
  padding-bottom: 5px;
}
.footer-container-form form{
  display: flex;
  flex-direction: column;
  
}
.footer-container-form form input[type='text']{
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  padding: 10px 5px
}
.boat-advantages {
  margin-bottom: 35px;
}
input{
  border: 0 none;
  outline: 0 none;
}
.px-8 {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}
.btn-top {
  display: flex;
  margin: 0 auto;
  width: fit-content;
  align-items: center;
}
.review-p {
  max-width: 60%;
  text-align: left;
  margin: 0 auto;
  line-height: 1.5;
  max-width: 25ch;
  padding-left: 10px;
}
.text-blck {
  padding-left: 3vw;
}
.foot-icons {
  margin-bottom: 20px;
}
.row {
  justify-content: space-between;
}
.ftr-tel {
  padding-top: 5px;
}
/* rtl:end:remove */

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
  

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
@media screen and (max-width: 1200px){
  .telephone {
    padding-left: 50px;
  }
  .ftr-col {
    width: 47%;
  }
  .footer-h2 {
    font-size: 75px;
  }
  .ftr-phn {
    font-size: 46px;
  }
  .foot-tel {
    padding-top: 10px;
  }
  .lft {
    padding-left: 45px;
  }
}
@media screen and (max-width: 1139px) {
  .footer-container-form h2 {
    max-width: 70%;
    padding-bottom: 5px;
    flex-direction: column;
  }
}
@media screen and (max-width: 1015px) {
  .footer-container-filter h2 {
    max-width: 60%;
  }
}

@media screen and (max-width: 992px){
  .navbar-nav {
    gap: 0.5rem;
  }
  .rvws {
    padding: 0px 40px 24px 40px;
  }
  .footer {
    display: block;
  }
  .ftr-col {
    width: 90% !important;
    padding-left: 0;
  }
  .telephone {
    padding-top: 0;
  }
  .foot-icons {
    padding-left: 62px;
  }
  .ftr-tel {
    width: 90%;
  }
  .foot-tel {
    padding-left: 60px;
    padding-bottom: 100px;
  }
  .footer-h2 {
    font-size: 90px;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
  }
  .ftr-phn {
    font-size: 60px;
  }
}
@media screen and (max-width: 950px) {
  .footer-container-form h2 {
    max-width: 85%;
    padding-bottom: 5px;
    flex-direction: column;
  }
  
}

@media screen and (max-width: 918px){
  .boat-container .boat-info{
    max-width: 100%;
    min-width: auto;
  }
  .boat-container {
    padding-left: 12px;
    padding-right: 12px;
  }
  .boat-h1{
    margin-top: 0 !important;
    max-width: 100%;
  }
  .lead {
    max-width: 100%;
  }
  .b
  .lst-group ul {
    gap: 30px;
  }
  .boat-container .carousel{
    min-width: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .footer-h2 {
    font-size: 75px;
    margin: 0;
    width: 100%;
    margin-bottom: 100px;
    padding-left: 80px;
    padding-top: 0px;
    padding-bottom: 0px;
    max-width: 500px;
  }
  .footer{
    padding-top: 100px
  }
  .foot-icons {
    padding-left: 0px;
  }
  .telephone {
    padding-left: 0;
    justify-content: center;
  }
  .ftr-phn {
    font-size: 48px;
  }
  .whats-app {
    width: 40px;
    height: 40px;
  }
  .foot-tel {
    padding-top: 20px;
    padding-left: 0px;
  }
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
  .ftr-col {
    flex: 0 0 auto;
    width: 100% !important;
  }
  
  .ftr-tel {
    flex: 0 0 auto;
    width: 100%;
    padding: 0px
  }
}

@media screen and (max-width: 690px){
  .carousel__text{
    padding: 0px 10px;
    width: 100%;
  }
  
  .boat-h1{
    margin-top: 0 !important;
    max-width: 100%;
  }
  .lead {
    max-width: 100%;
  }
  .b
  .btn-main{
    width: auto;
  }
  .lst-group ul {
    gap: 20px;
  }
  .navbar {
    padding: 0px 10px;
  }
  
}
@media screen and (max-width: 576px) {
  .cont-footer {
    max-width: 94%;
  }
  .ftr-col{
    max-width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100% !important
  }
  .footer-h2 {
    padding-left: 0px;
    font-size: 60px;
    max-width: 320px;
  }
  .ftr-phn {
    font-size: 40px;
  }
}




